body {
    margin: 0;
    padding: 0;
    background: #dddddd;
}

.title {
    margin: 0;
    padding: .5rem;
}

section.header-section {
    background: lightblue;
    text-align: center;
}

section.body-section {
    background: #dddddd;
}

.message {
    margin: 15px 0 0 15px;
}

.message-title {
    color: #333333;
}

.message-container {
    background: white;
    display: inline-block;
    padding: 8px;
    margin-top: 8px;
    border-radius: 8px;
}

.control-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border-top: solid black 2px;
}

.sent-message {
    width: 100%;
}