body {
    margin: 0;
    padding: 0;
    background: #dddddd;
    font-family: 'Arial';
}

.title {
    margin: 0;
    padding: .5rem;
}

section.header-section {
    background: lightblue;
    text-align: center;
}

section.body-section {
    background: #dddddd;
}

.control-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border-top: solid black 2px;
}

.message-input {
    width: 100%;
    resize: none;
}